{% comment %}
* 
* Accepts:
* -class_name {String}
*
{% endcomment %}
<div class=" bh-amplifiers-overview {{class_name}} bg-gray-100 w-full py-2">
  <div class="flex flex-col md:flex-row justify-center items-center align-middle">
    <!-- Unique Selling Point (USP) Quality Engineering toward quality Sound  -->
    <div class="rounded-lg text-center w-50 h-50 px-20 py-2 md:px-10 md:w-70 md:h-auto">
      <span class="bh-icon bh-icon--light-gray h-2 w-2">
        {% render 'icon-eq' %}
      </span>
      <h5 class="uppercase font-semibold">Exceptional Performance</h5>
      <p class="text-xs">Delivering exceptional sound clarity and quality, our amplifiers elevate your audio experience to the next level</p>
    </div>

    <!-- Emotional Selling Point (USP) Quality Engineering toward quality Sound  -->
    <div class="rounded-lg text-center w-50 h-50 px-20 py-2 md:px-10 md:w-70 md:h-auto">
      <span class="bh-icon bh-icon--light-gray h-2 w-2">
        {% render 'icon-hearing' %}
      </span>
      <h5 class="uppercase font-semibold">Affordable Luxury</h5>
      <p class="text-xs">Enjoy an audio experience that surpasses expensive competitors, offering the same level of excellence as luxury models priced 2-4 times higher</p>
    </div>

    <!-- Unique Selling Point (USP) Quality Engineering toward quality Sound  -->
    <div class="rounded-lg text-center w-50 h-50 px-20 py-2 md:px-10 md:w-70 md:h-auto">
      <span class="bh-icon bh-icon--light-gray h-2 w-2">
        {% render 'icon-audio-video-receiver' %}
      </span>
      <h5 class="uppercase font-semibold">Stunning Wood Finish</h5>
      <p class="text-xs">
        You'll want to prominently display these beautiful amplifiers; customize your case with custom wood veneer and speaker grill materials
      </p>
    </div>
  </div>
</div>