<aside class="">
  <p class="text-sm md:text-base">For support, the best way to contact Black Hole Audio is via e-mail.</p>
  <ul class="list-inside list-disc text-sm md:text-base">
    <li>
      <a href="mailto:info@blackhole-audio.com">E-mail Support</a>
    </li>
    <li>
      <a href="tel:9723589739">972-358-9739</a>
    </li>
  </ul>
</aside>
