<aside class="">
  <p class="text-sm md:text-base">
    {{ section.settings.title_paragraph }}
  </p>
  <ul class="list-inside list-disc text-sm md:text-base">
    <li>
      <a class="underline text-red-600 hover:no-underline" href="mailto:info@blackhole-audio.com">
        {{ 'sections.contact.email_support' | t }}
      </a>
    </li>
    <li>
      <a class="underline text-red-600 hover:no-underline" href="tel:9723589739">
        972-358-9739
      </a>
    </li>
  </ul>
</aside>
