{% if show_icon == true %}
  <span class="fill-gray-500 h-5 w-5 mr-1">
    {% render 'icon-phone' %}
  </span>
{% endif %}
<a class="bh-contact-phone-link underline hover:no-underline {{ link_class_list  }}" href="tel:9723589739">
  972-358-9739
</a>
