<div>
  <h3>Contact us and make an appointment.</h3>
  {% comment %} <p>If there are no Black Hole Audio dealers available near you</p>
  <ul class="list-inside list-disc">
    <li>Simply <a href="http://blackhole-audio/pages/contact">contact us</a></li>
  </ul>
  <p>&nbsp;</p> {% endcomment %}
  <p>Based in the Dallas Fort Worth or Kansas City area? Let us coordinate an in-person demonstration of our amplifier for you.</p>
  <ul class="list-inside list-disc">
    <li>
      <a href="mailto:sales@blackhole-audio.com">sales@blackhole-audio.com</a><br />
    </li>
    <li>Phone: (972) 358-9739</li>
  </ul>
</div>