<div>
  <h3>Contact us and make an appointment.</h3>
  {% comment %} <p>If there are no Black Hole Audio dealers available near you</p>
  <ul class="list-inside list-disc">
    <li>Simply <a href="http://blackhole-audio/pages/contact">contact us</a></li>
  </ul>
  <p>&nbsp;</p> {% endcomment %}
  <div class="text-sm md:text-base">
    <p>
      {{ section.settings.title_paragraph }}
    </p>
    <ul class="list-inside list-disc">
      <li>
        <a class="underline text-red-600 hover:no-underline" href="mailto:sales@blackhole-audio.com">sales@blackhole-audio.com</a><br />
      </li>
      <li>
        <a class="underline text-red-600 hover:no-underline" href="tel:9723589739">
          972-358-9739
        </a>
      </li>
    </ul>
  </div>
</div>