{% if show_icon == true %}
  <span class="fill-gray-500 h-5 w-5 mr-1">
    {% render 'icon-questions' %}
  </span>
{% endif %}
<a href="/pages/faq" class="bh-contact-phone-link underline hover:no-underline {{ link_class_list  }}">
  FAQs
</a>