<div class="pb-5 p5-5">
  <p class="text-gray-400 text-xl font-bold pb-5 inline m-0">
    <span class="text-gray-500">M87</span>
  </p>
  <span class="text-gray-500 text-xl pb-5">: power amplifier</span>
</div>
