
<div class="w-full p-2 text-center bg-gray-100 border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
  <div class="flex flex-row align-middle justify-center items-center hidden">
    <div class="w-8 h-8 me-1 bg-red-600 rounded-full">
      <span class="bh-icon bh-icon--white me-1 w-auto h-10">
        {% render 'icon-support' %}
      </span>
    </div>
    <h4>Have Questions?</h4>
  </div>
  <p class="mb-3 text-gray-500 text-xs">
    Contact us during normal business hours<small>(CST)</small>
  </p>
  <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
    <a href="#" class="w-full sm:w-auto bg-white rounded-lg inline-flex items-center justify-center px-3 py-2.5">
      <span class="fill-gray-500 h-5 w-5 mr-1">
        {% render 'icon-phone' %}
      </span>
      <span class="text-left text-xs text-gray-600">
        972-358-9739
      </span>
    </a>
    <a href="#" class="w-full sm:w-auto bg-white rounded-lg inline-flex items-center justify-center px-3 py-2.5">
      <span class="fill-gray-500 h-5 w-5 mr-1">
        {% render 'icon-questions' %}
      </span>
      <span class="text-left text-xs text-gray-600">
        FAQs
      </span>
    </a>
  </div>
</div>
