{% comment %}
  Renders high-chart line graph comparison

  Usage:
  {% render 'main-page-chart' %}
{% endcomment %}

<script src="{{ 'chart.js' | asset_url }}" defer="defer"></script>
<!-- Flowbite -->
<section class="md:pt-5 px-5 h-full">
  <h2 class="md:text-left">Unleash your Sound</h2>
  <p class="text-sm md:text-left md:text-base pb-5">Experience unparalled performance. Hear what's on the Horizon</p>
</section>
<div class="w-full h-600 rounded-lg border border-gray-300 shadow dark:bg-gray-800 bg-gradient-to-r from-gray-100 to-gray-200">
  <div class="p-4 md:p-6 pb-0 md:pb-0">
    <h4 class="md:text-left">THD+N(20-20%kHz BW) 1kHz tone input 8 ohm load</h4>
  </div>
  <div id="labels-chart" class="px-0 md:px-2"></div>
  {% comment %} <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between mt-5 p-4 md:p-6 pt-0 md:pt-0">
    <div class="flex justify-between items-center pt-5">
      
    </div>
  </div> {% endcomment %}
</div>

<!-- HighCharts -->
{% comment %} <section class="md:pt-5 pb-4">
  <div class="text-center md:text-leftp-4">
    <h2 class="md:text-left">Unleash your Sound</h2>
    <p class="text-sm md:text-left md:text-base">Experience unparalled performance. Hear what's on the Horizon</p>
  </div>
  <div id="chart" class="bg-gray-100 p-6 w-auto">
    <h4 class="text-gray-700 text-center pb-4">THD+N(20-20%kHz BW) 1kHz tone input 8 ohm load</h4>
    <div class="w-auto">
      <div id="chart-container"></div>
    </div>
  </div>
</section> {% endcomment %}
