{% comment %} {% render 'm-product-logo' %} {% endcomment %}
<div class="grid md:grid-cols-2">
  <div class="">
    <h4 class="">Audio Specification</h4>
    <ul class="list-disc list-inside text-sm md:text-base">
      <li>Power Output: 20W +120W @ 4, 6, or 8 ohms</li>
      <li>THD+N: &lt; 0.0002% <small>20-20%kHz BW, 1kHz, 8 ohms</small></li>
      <li>SNR: 135dB at input sensitivity 5.2Vrms</li>
      <li>SRN: 127dB at input sensitivity for 1.5Vrms</li>
    </ul>
    <h4 class="pt-2">Dimension & Weight</h4>
    <ul class="list-disc list-inside text-sm md:text-base">
      <li>17" x 6" x 14" <small>(L x W x H)</small></li>
      <li>50 lbs</li>
    </ul>
  </div>
  <div>
    <h4 class="">Inputs/Outputs Connections</h4>
    <ul class="list-disc list-inside text-sm md:text-base">
      <li>Input Connections: 2 balanced <small>(XLR)</small></li>
      <li>Output Connections: 2 speaker banana plug</li>
      <li>Trigger input/output: 12V remote 3.5mm mono jack</li>
    </ul>
    <h4 class="pt-2">Controls</h4>
    <ul class="list-disc list-inside text-sm md:text-base">
      <li>3-way power switch <small>(selectable ON-OFF-12V REMOTE)</small></li>
      <li>Load configuration switch <small>(8-6-4) ohm</small></li>
    </ul>
    <h4 class="pt-2">Power Needs</h4>
    <ul class="pb-2 list-disc list-inside text-sm md:text-base">
      <li>110-120VAC</li>
    </ul>
  </div>
</div>
