<div class="pb-5" style="margin-top: 10px;">
  <p class="hidden underline">Clear Summary of Products Unique Selling Points (USPs)</p>
  <dl class="list-inside list-disc">
    <dt class="font-semibold">High-level Product Description:</dt>
    <dd>* The M87 is a high-powered two-channel power amplifier customizable for audiophiles.</dd>
  
    <dt class="font-semibold">Unique Selling Points (USPs):</dt>
    <dd>* Ensures that your audio experience is elevated to the next level, delivering outstanding sound quality and reliability.</dd>
    <dd>* This is a custom amplifier for your custom setup that is also a cleaner sound than any other.</dd>
  
    <dt class="font-semibold">Material Variants:</dt>
    <dd>* We will work with you to get the look you want.</dd>
    <dd>* You can choose your custom wood veneer, speaker grill material, and input gain sensitivity to match your tastes and home decor.</dd>
  </dl>
</div>
<div class="pb-5 hidden">
  <p class="hidden underline">Material Used</p>
  <ul class="list-inside list-disc">
    <li>
      You can choose your custom wood veneer, speaker grill material, and input gain sensitivity to match your tastes and home decor.
    </li>
  </ul>
</div>
<div class="pb-5 hidden">
  <p class="underline">Dimensions &amp; Weight</p>
  <ul class="list-inside list-disc">
    <li>
      <span>17" x 6" x 14"</span>&nbsp;
      <small>(L x W x H)</small>&nbsp;
    </li>
    <li>50 lbs</li>
  </ul>
</div>
<div class="pb-5 hidden">
  <p class="underline">Top Features & Technical Specifications</p>
  <ul class="list-inside list-disc">
    <li>
      2 Channel Power Amplifier
    </li>
    <li>
      Power output: 20W +120W @ 4, 6, or 8 ohms
    </li>
    <li>
      <span >THD+N: &lt; 0.0002%</span>&nbsp;
      <small>20-20%kHz BW, 1kHz, 8 ohms</small>&nbsp;
    </li>
  </ul>
</div>
