{% comment %}
  Renders gsap animated banner

  Usage:
  {% render 'main-page-banner' %}
{% endcomment %}
<script src="{{ 'banner.js' | asset_url }}" defer="defer"></script>
<section id="banner"
         class="bh-banner">

  <div class="bh-banner__box bg-black bg-opacity-40 flex flex-col items-center align-middle md:flex-row mb-10 md:mb-0">
    <div style="height: 400px; width: 420px; padding: 10px;">
      {% render 'product-image-swiper' %}
    </div>
    <div id="banner__content" class="md:ml-8">
      <!-- header-text -->
      <h2 id="banner__content--header">
        <span class="text-white">Introducing the <span class="bh-text--red">M87</span> Amplifier</span>
      </h2>
    
      <!-- subheader-text -->
      <p class="text-sm text-gray-300 md:text-base" id="banner__content--sub-header">
        A custom amplifier that is cleaner sound than any other<br />
        We will work with you to get the look you want
      </p>

      <!-- banner-button -->
      <div id="banner__content--button" class="mt-2 h-full pb-5">
        <a href="/products/m87-amplifier">
          <button class="bh-button bh-button--lg bh-button--red">
            Learn More
          </button>
        </a>
      </div>
    </div>

  </div>
</section>

