<section>
  <h3>Specifications</h3>
  <div class="grid md:grid-cols-3 text-center md:text-left pt-5">
    <div>
      <h4>Audio Specification</h4>
      <ul>
        <li>20W +120W @ 4, 6, or 8 ohms</li>
        <li>THD+N - 0.0002% THD+N</li>
        <li>SNR - 135dB at input sensitivity 5.2Vrms</li>
        <li>SRN - 127dB at input sensitivity for 1.5Vrms</li>
      </ul>
    </div>
    <div>
      <h4>Inputs/Outputs Connection</h4>
      <ul>
        <li>110-120VAC</li>
        <li>2 inputs - balanced (XLR)</li>
        <li>2 speaker banana plug outputs</li>
        <li>3-way Power switch (selectable ON-OFF-12V REMOTE)</li>
        <li>Load configuration switch (8-6-4) ohm</li>
        <li>12V remote 3.5mm mono jack input and output</li>
      </ul>
    </div>
    <div>
      <h4>Dimensions</h4>
      <ul>
        <li>17" x 6" x 14", 50 lbs</li>
      </ul>
    </div>
  </div>
</section>
