<div class="bh-tab__content__overview">
  <div class="grid grid-cols-1 md:grid-cols-1">
    <!-- Unique Selling Point (USP) Quality Engineering toward quality Sound -->
    <div class="mb-2 rounded-lg">
      <h4>Meticulously Crafted for Exceptional Sound Performance</h4>
      <ul class="list-disc list-inside">
        <li>Ensures your audio experience is elevated to the next level</li>
        <li>Delivers outstanding sound clarity & quality</li>
      </ul>
    </div>
    <!-- Unique Selling Point (USP) Quality Engineering toward quality Sound -->
    <div class="mb-2 rounded-lg">
      <h4>Exquisite Case with Stunning Wood Finish</h4>
      <ul class="list-disc list-inside">
        <li>Custom wood veneer & speaker grill material</li>
      </ul>
    </div>
    <!-- Emotional Selling Point (USP) Quality Engineering toward quality Sound -->
    <div class="pb-2 rounded-lg">
      <h4>Affordable Luxury at Unmatched Value</h4>
      <ul class="list-disc list-inside">
        <li class="hidden">Don't compromise on quality for affordability</li>
        <li>Luxurious audio experience surpassing expensive competitors</li>
        <li>Unparalleled performance rivaling models priced higher</li>
        <li>Same level of audio excellence without the hefty price tag</li>
      </ul>
    </div>
  </div>
</div>
<div class="pb-5 hidden">
  <p class="underline">Dimensions &amp; Weight</p>
  <ul class="list-inside list-disc">
    <li><span>17" x 6" x 14"</span>&nbsp; <small>(L x W x H)</small>&nbsp;</li>
    <li>50 lbs</li>
  </ul>
</div>
<div class="pb-5 hidden">
  <p class="underline">Top Features & Technical Specifications</p>
  <ul class="list-inside list-disc">
    <li>2 Channel Power Amplifier</li>
    <li>Power output: 20W +120W @ 4, 6, or 8 ohms</li>
    <li><span>THD+N: &lt; 0.0002%</span>&nbsp; <small>20-20%kHz BW, 1kHz, 8 ohms</small>&nbsp;</li>
  </ul>
</div>
