<aside class="">
  <h2>
    {{ section.settings.title }}
  </h2>
  {% render 'contact-address' %}
  {% render 'contact-email-phone' %}
</aside>

{% schema %}
{
  "name": "Page Contact",
  "tag": "section",
  "class": "bh-main__page__section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Contact",
      "label": "Contact Heading Title"
    },
    {
      "type": "text",
      "id": "title_paragraph",
      "default": "For support, the best way to contact Black Hole Audio is via e-mail.",
      "label": "Contact Paragraph"
    }
  ]
}
{% endschema %}
