<section class="grid md:grid-cols-3 bh-main__section">
  <div class="p-5 md:col-span-3">
    <h2>Contact</h2>
  </div>
  <div class="p-5">
    {% render 'contact-address' %}
    <p>&nbsp;</p>
    {% render 'contact-email-phone' %}
  </div>
  <div class="md:col-span-2 p-5">
    {% render 'contact-form' %}
  </div>
</section>
