<section class="grid md:grid-cols-3 bh-main__section">
  <div class="p-5 md:col-span-3">
    <h2>Dealers</h2>
  </div>
  <div class="p-5">
    {% render 'dealers-usa' %}
  </div>
  <div class="md:col-span-2 p-5">
    {% render 'dealers-form' %}
  </div>
</section>
