<aside class="">
  <div class="">
    <h2 class="">{{ section.settings.title }}</h2>
  </div>
  {% render 'dealers-usa' %}
</aside>

{% schema %}
{
  "name": "Page Delears",
  "tag": "section",
  "class": "bh-main__page__section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Dealers",
      "label": "Delears Heading Title"
    }
  ]
}
{% endschema %}
