<aside class="">
  <h2 class="">
    {{ section.settings.title }}
  </h2>
  {% render 'dealers-usa' %}
</aside>

{% schema %}
{
  "name": "Page Delears",
  "tag": "section",
  "class": "bh-main__page__section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Dealers",
      "label": "Delears Heading Title"
    },
    {
      "type": "text",
      "id": "title_paragraph",
      "default": "Based in the Dallas Fort Worth or Kansas City area? Let us coordinate an in-person demonstration of our amplifier for you.",
      "label": "Delears Paragraph"
    }
  ]
}
{% endschema %}
