<section class="bh-header__password__section color-{{ section.settings.color_scheme }}">
  <div class="bh-header__password__logo">
    <!-- Logo -->
    {% render 'logo-bh-color-short' %}
  </div>

  <!-- Password Message -->
  <div class="bh-header__password__content">
    {%- if shop.password_message != blank -%}
      <div class="password-content">
        {{ shop.password_message }}
      </div>
    {%- endif -%}
  </div>

  <!-- Password Modal Dialog -->
  <div class="bh-header__password__modal-dialog">
    <bha-password-modal>
      {% render 'modal',
         modal_instance_id: 'bh-modal__password' 
         modal_heading: 'Password',
         modal_description: 'Password Description' 
      %}

      <!-- Todo: Form Password -->
      {% comment %} {% render 'form-password' %} {% endcomment %}
    </bha-password-modal>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-password-header.settings.logo_header.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-password-header.settings.logo_help.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-2"
    }
  ]
}
{% endschema %}