{% comment %}
   main-page.liquid

   renders main-page-banner & main-page-chart snippets, used in index.json
{% endcomment %}
<div id="bh-main__box" class="bh-main__box bh-main-page--banner">
  {% render 'main-page-banner' %}
</div>
<div id="bh-main__box" class="bh-main__box bh-main-page--chart">
  {% render 'main-page-chart' %}
</div>
