<section class="bh-section--test">
  <div class="bh-section__item">
    <h1>Tailwind Test</h1>
    <dl>
      <div class="m-1">
        <dt class="uppercase">Responsive - Pseudo Selectors</dt>
        <dd>
          <span class="sm:text-red-100 md:text-red-400 lg:text-red-800">Text Color</span>
        </dd>
        <dd>
          <span class="2xl:text-xl xl:text-2xl lg:text-xl md:text-lg">Text Size</span>
        </dd>
        <dd>
          <button class="bg-red-400 hover:bg-red-800 text-green-500">Click</button>
        </dd>
        <dd>
          <input placeholder="Add name" class="bg-gray-200 focus:bg-gray-500">
        </dd>
        <dd>
          <div class="group bg-gray-200 w-32">
            <p class="group-hover:text-gray-700">Para 1</p>
            <p>Para 2</p>
            <p class="group-hover:text-gray-700">Para 3</p>
          </div>
        </dd>
        <dd>
          <i class="bh-icon bh-icon--red"></i>
        </dd>
        <dd>
          <section class="grid md:grid-cols-3 text-center md:text-left">
            <div class="p-5">
            </div>
            <div class="md:col-span-2 p-5">
            </div>
          </section>
        </dd>
      </div>
    </dl>
  </div>
</section>
