.swiper {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.swiper-wrapper {
  color: #9ca3af;
  align-items: center;
}

:root {
  --swiper-theme-color: #dc2626;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #dc2626!important;
  opacity: 100%!important;
  width: 12px!important;
  height: 12px!important;
}

span.swiper-pagination-bullet {
  background-color: #9ca3af!important;
  opacity: 50%!important;
  width: 12px;
  height: 12px;
}

.swiper-button-prev, .swiper-button-next {
  color: #FFFFFF!important;
}

.swiper-pagination-progressbar-fill {
  background: #FFF!important;
}
