@tailwind base;
@tailwind components;
@tailwind utilities;

/** Test using @layer directive **/
@layer base {
  h1 {
    @apply text-5xl font-bold uppercase;
  }

  h2 {
    @apply text-3xl font-semibold uppercase text-black;
  }

  h3 {
    @apply text-xl font-semibold uppercase text-gray-900;
  }

  h4 {
    @apply text-gray-600;
  }

  p, .bh-label, li:not(.bh-menu__list__item) {
    @apply text-gray-700;
  }

  .bh-header {
    background: black;
  }

  .bh-footer {
    @apply bg-neutral-800;
  }

  /** Shopify Overwrites **/
  /* overwrites 'contact form' section's captcha button */
  .button, .button-label, .shopify-challenge__button, .customer button {
    @apply mt-10 bg-black text-white text-sm md:text-base font-semibold uppercase py-2.5 px-8 cursor-pointer;
  }

  /* @todo */
  /* Cart Items */
  .cart-item__error {
    display: flex;
    align-items: flex-start;
    margin-top: 0.2rem;
    width: min-content;
    min-width: 100%;
  }
  
  .cart-item__error-text {
    font-size: 1.3rem;
    line-height: 1.4;
    letter-spacing: 0.04rem;
    order: 1;
  }
  
  .cart-item__error-text + svg {
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.7rem;
    margin-top: 0.25rem;
  }
  
  .cart-item__error-text:empty + svg {
    display: none;
  }

  .cart__items--disabled {
    pointer-events: none;
  }

  /** Product Price **/
  .bh-price__badge {
    display: inline-flex;
  }

  .bh-price--on-sale .bh-price__badge--on-sale {
    display: flex;
  }

  .bh-price--sold-out .bh-price__badge--sold-out {
    display: flex;
  }


  /** Buttons, Icons **/
  button.bh-button {
    @apply uppercase p-1;
  }

  button.bh-button--sm {
    @apply text-xs font-thin p-1;
  }

  button.bh-button--md {
    @apply text-xs md:text-sm uppercase px-16 py-2;
  }

  button.bh-button--lg {
    @apply text-base md:text-lg font-semibold uppercase py-2.5 px-8;
  }

  button.bh-button--black {
    @apply bg-gray-900 hover:bg-black active:bg-black text-white hover:text-white border border-black hover:border-white;
  }

  button.bh-button--gray {
    @apply text-white border border-gray-500 hover:text-gray-500 bg-gray-600 hover:bg-gray-600 active:bg-gray-700;
  }

  button.bh-button--red {
    @apply text-white hover:text-black border border-red-800 hover:border-red-900 bg-red-600 hover:bg-red-700 active:bg-red-800;
  }

  button.bh-button--white {
    @apply text-black border border-black hover:border-red-600 hover:border active:border-black bg-white hover:text-black hover:bg-white active:text-black active:bg-white;
  }

  .bh-img {
    @apply flex items-center justify-center w-full h-48 rounded sm:w-96 bg-gray-200;
  }

  .bh-img__image-box {
    @apply w-auto h-40 overflow-hidden;
  }

  .bh-img__image {
    @apply w-full h-full object-cover;
  }

  .bh-icon svg {
    @apply min-w-6 min-h-6;
  }

  .bh-icon--img-mock {
    @apply flex items-center justify-center w-full h-48 bg-gray-300 rounded sm:w-96 dark:bg-gray-700;
  }

  .bh-icon--black {
    @apply fill-black;
  }

  .bh-icon--gray {
    @apply fill-gray-600;
  }

  .bh-icon--light-gray {
    @apply fill-gray-400;
  }
  
  .bh-icon--red,
  .bh-icon--danger {
    @apply fill-red-700;
  }

  .bh-icon--white {
    @apply fill-red-50;
  }

  .bh-icon-green,
  .bh-icon--success {
    @apply fill-green-700;
  }

  /** Form **/
  form.bh-form {
    @apply space-y-3;
  }

  .bh-form__control {
    @apply py-1 md:py-2;
  }
  
  input.bh-input {
    @apply block p-2 w-full;
    @apply text-sm text-gray-700 bg-gray-100 border border-gray-500 shadow-sm focus:border-gray-900 focus:outline-black focus:outline-4;
  }

  input.bh-input--sm {
    @apply p-1.5 w-auto text-center text-black;
  }
  
  textarea.bh-textarea {
    @apply block p-2 w-full;
    @apply text-sm text-gray-700 bg-gray-100 border border-gray-500 shadow-sm focus:ring-gray-800 focus:outline-black focus:outline-4;
  }

  input.shopify-challenge__button.btn {
    @apply block p-2 w-full;
    @apply bg-gradient-to-r from-red-800 via-red-400 to-red-950 bg-clip-text text-transparent font-bold;
  }
}

@layer components {
  /** Layout **/
  .bh-body {
    /* @apply bg-gray-100; */
  }

  .bh-main {
    /* @apply border-2 border-red-300; */
  }

  .bh-main__page {
    @apply text-sm md:text-base;
  }

  .bh-main__page__section {
    @apply h-auto px-10 md:px-20 lg:px-40 xl:px-60;
  }

  .bh-main__page__section h2 {
    @apply mt-5 mb-3;
  }

  .bh-box--non-full {
    /* @apply border-2 border-orange-500 border-solid; */
    @apply h-auto md:px-10 lg:px-20;
  }

  .bh-main .bh-main-page--content {
    @apply bg-white text-gray-800 text-base min-h-screen p-6 m-2 md:m-6;
  }

  .bh-footer {
    @apply pb-2 mt-5;
  }

  /** Responsive **/
  .bh--md-flex-1 {
    @apply hidden md:flex flex-1; /* show for only medium screen sizes and above */
  }

  .bh--md-block {
    @apply hidden md:block; /* show for only medium screen sizes and above */
  }

  .bh--md-hide {
    @apply md:hidden;  /* show for only medium screen sizes and below */
  }

  /** Menu, Nav **/
  .bh-menu {
    @apply text-gray-50;
  }

  .bh-menu--header {
    @apply uppercase text-lg;
  }

  .bh-menu--header .bh-menu__list__item  {
    @apply flex items-center justify-center h-11 px-1;
    /* @apply border border-green-600; */
  }

  .bh-menu--header .bh-menu__list__item button:hover,
  .bh-menu--header .bh-menu__list__item a:hover {
    @apply text-red-600 transition duration-100;
  }

  .bh-menu--footer {
    /* @apply w-full; */ 
  }

  .bh-menu--footer .bh-menu__list__item  {
    @apply font-semibold text-gray-400;
  }

  .bh-menu--header-drawer .bh-menu__list__item  {
    @apply font-semibold text-gray-400 my-2;
  }

  .bh-menu--footer .bh-menu__list__item a,
  .bh-menu--header-drawer .bh-menu__list__item a {
    @apply text-gray-400;
  }

  .bh-menu--footer .bh-menu__list__item a:hover,
  .bh-menu--header-drawer .bh-menu__list__item a:hover {
    @apply text-white transition duration-100;
  }

  .bh-menu--footer-social .bh-menu__list__item  {
    @apply py-4 px-2 text-gray-300;
  }

  .bh-menu--footer-legal {
    @apply w-full;
  }

  .bh-menu__list--inline {
    @apply inline-flex flex-nowrap;
  }
  
  /** Border **/
  .bh-border--solid-red {
    @apply border border-1 border-solid border-red-500;
  }

  /** Text **/
  .bh-text--dark {
    @apply text-gray-950;
  }

  .bh-text--dark-gray {
    @apply text-gray-800;
  }

  .bh-text--gray {
    @apply text-gray-400;
  }

  .bh-text--md-light {
    @apply font-light;
  }

  .bh-text--red {
    @apply bg-gradient-to-r from-red-600 via-red-500 to-red-800 bg-clip-text text-transparent font-bold;
  }

  /** Snippets **/
  .bh-bg__heat-sink--mid {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("amp-m-heat-sink-bg.jpg");
    background-size: cover;
  }

  .bh-bg__collection-image {
    background-size: cover;
  }

  .bh-bg__heat-sink--dark {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("amp-m-heat-sink-bg.jpg");
    background-size: cover;
  }

  .bh-banner__box {
    @apply text-center md:text-left;
  }

  .bh-banner__content__item {
    @apply mt-3 md:mt-5 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto lg:mx-0;
  }

  h2.banner__content--header span {
    @apply bg-gradient-to-r from-red-600 via-red-500 to-red-800 bg-clip-text text-transparent font-bold;
  }

  .bh-image__black-and-white {
    /* Apply grayscale filter */
    filter: grayscale(100%);
    /* Optionally add transition for a smooth effect */
    transition: filter 0.3s ease;
  }
  
  /* Add hover effect to revert to color on hover */
  .bh-image-hover__black-and-white:hover {
    filter: grayscale(0%);
  }

  /* Product */
  .bh-product-form__error-message-wrapper:not([hidden]) {
    @apply flex items-start text-base leading-5 tracking-tighter mb-6;
  }
}

@layer utilities {
  .bh-main {
    display: block;
    min-height: 550px;
    /* min-height: 60vh; */
  }

  .bh-footer--sticky {
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 999;
  }

  .bh-menu--header, h2, h3, h4,
  .bh-header-drawer__links a {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .button {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .text-green-500 {
    color: blue;
  }
 }