@tailwind base;
@tailwind components;
@tailwind utilities;

/** Test using @layer directive **/
@layer base {
  h1 {
    @apply text-5xl font-bold uppercase;
  }

  h2 {
    @apply text-3xl font-semibold uppercase text-black;
  }

  h3 {
    @apply text-xl font-semibold uppercase text-gray-900;
  }

  h4 {
    @apply text-gray-600;
  }

  p, .bh-label, li:not(.bh-menu__list__item) {
    @apply text-gray-700;
  }

  .bh-header {
    background: black;
  }

  .bh-footer {
    @apply bg-neutral-800;
  }

  .bh-main a {
    @apply text-red-700 underline ;
  }

  /** Shopify Overwrites **/
  /* overwrites 'contact form' section's captcha button */
  .button, .button-label, .shopify-challenge__button, .customer button {
    @apply mt-10 bg-black text-white text-sm md:text-base font-semibold uppercase py-2.5 px-8 cursor-pointer;
  }
  

  /** Links **/
  .bh-main a:hover,
  .bh-header a:hover {
    @apply text-red-600 transition duration-100;
    @apply fill-red-600 transition duration-100;
  }

  .bh-footer .bh-menu__list__item a:hover {
    @apply text-white transition duration-100;
  }

  /** Buttons, Icons **/
  button.bh-button {
    @apply uppercase p-1;
  }

  button.bh-button--sm {
    @apply text-xs font-thin p-1;
  }

  button.bh-button--md {
    @apply text-xs md:text-sm uppercase px-16 py-2;
  }

  button.bh-button--lg {
    @apply text-base md:text-lg font-semibold uppercase py-2.5 px-8;
  }

  button.bh-button--black {
    @apply text-white hover:text-red-500 border border-black hover:border-red-500 bg-black hover:bg-gray-900 active:bg-gray-900;
  }

  button.bh-button--gray {
    @apply text-white border border-gray-500 hover:text-gray-500 bg-gray-500 hover:bg-gray-600 active:bg-gray-700;
  }

  button.bh-button--red {
    @apply text-white hover:text-black border border-red-800 hover:border-red-900 bg-red-600 hover:bg-red-700 active:bg-red-800;
  }

  button.bh-button--white {
    @apply text-black border border-black hover:border-red-600 hover:border active:border-black bg-white hover:text-black hover:bg-white active:text-black active:bg-white;
  }

  .bh-icon {
    @apply fill-none;
  }

  .bh-img {
    @apply flex items-center justify-center w-full h-48 rounded sm:w-96 bg-gray-200;

    /* @apply flex items-center justify-center w-full h-48 bg-gray-950 rounded sm:w-96 dark:bg-gray-700; */
  }

  .bh-img__image-box {
    @apply w-auto h-40 overflow-hidden;
  }

  .bh-img__image {
    @apply w-full h-full object-cover;
  }
  
  .bh-icon--img-mock {
    @apply flex items-center justify-center w-full h-48 bg-gray-300 rounded sm:w-96 dark:bg-gray-700;
  }

  .bh-icon--black {
    @apply fill-black;
  }

  .bh-icon--gray {
    @apply fill-gray-600;
  }
  
  .bh-icon--red,
  .bh-icon--danger {
    @apply fill-red-600;
  }

  .bh-icon--white {
    @apply fill-red-50;
  }

  .bh-icon-green,
  .bh-icon--success {
    @apply fill-green-600;
  }

  /** Form **/
  form.bh-form {
    @apply space-y-8;
  }

  .bh-form__control {
    @apply py-1 md:py-2;
  }
  
  input.bh-input {
    @apply block p-2 w-full;
    @apply text-sm text-gray-700 bg-gray-100 border border-gray-500 shadow-sm focus:border-gray-900 focus:outline-black focus:outline-4;
  }

  input.bh-input--sm {
    @apply p-1.5 w-auto text-center text-black;
  }
  
  textarea.bh-textarea {
    @apply block p-2 w-full;
    @apply text-sm text-gray-700 bg-gray-100 border border-gray-500 shadow-sm focus:ring-gray-800 focus:outline-black focus:outline-4;
  }

  input.shopify-challenge__button.btn {
    @apply block p-2 w-full;
    @apply bg-gradient-to-r from-red-800 via-red-400 to-red-950 bg-clip-text text-transparent font-bold;
  }
}

@layer components {
  /** Layout **/
  .bh-body {
    @apply bg-gray-500;
  }

  .bh-main .bh-main__page {
    @apply p-5;
  }

  .bh-main__page__section {
    @apply text-sm md:text-base mb-5 h-auto md:px-10 lg:px-20;
  }

  .bh-main__page__section h2 {
    @apply mb-5;
  }

  .bh-main__page__section h3 {
    @apply mb-0;
  }


  .bh-main .bh-main-page--content {
    @apply bg-white min-h-screen p-6 text-gray-800 text-base m-2 md:m-6
  }
  
  .bh-main .bh-main-page--banner {

  }

  .bh-footer {
    @apply pb-2 pt-2 border-gray-500;
  }

  /** Responsive **/
  .bh--md-flex-1 {
    @apply hidden md:flex flex-1; /* show for only medium screen sizes and above */
  }

  .bh--md-block {
    @apply hidden md:block; /* show for only medium screen sizes and above */
  }

  .bh--md-hide {
    @apply md:hidden;  /* show for only medium screen sizes and below */
  }


  /** Menu, Nav **/
  .bh-menu {
    @apply text-gray-50 text-center;
  }

  .bh-menu--header {
    @apply uppercase text-lg bg-black;
  }

  .bh-menu--header .bh-menu__list__item  {
    @apply p-5;
  }

  .bh-menu--footer {
    @apply uppercase w-full;
  }

  .bh-menu--footer .bh-menu__list__item  {
    @apply font-semibold;
  }

  .bh-menu--footer .bh-menu__list__item a {
    @apply text-gray-300;
  }

  .bh-menu--footer .bh-menu__list__item a:hover {
    @apply text-white transition duration-100;
  }

  .bh-menu--footer-legal {
    @apply w-full;
  }

  .bh-menu--footer-social .bh-menu__list__item  {
    @apply py-4 px-2 text-gray-300;
  }

  .bh-menu__list--inline {
    @apply inline-flex flex-nowrap;
  }

  .bh-menu__list__item button:hover {
    @apply text-red-600 transition duration-100;
  }
  
  /** Border **/
  .bh-border--solid-red {
    @apply border border-1 border-solid border-red-500;
  }

  /** Text **/
  .bh-text--dark {
    @apply text-gray-950;
  }

  .bh-text--dark-gray {
    @apply text-gray-800;
  }

  .bh-text--gray {
    @apply text-gray-400;
  }

  .bh-text--md-light {
    @apply font-light;
  }

  .bh-text--red {
    @apply bg-gradient-to-r from-red-600 via-red-500 to-red-800 bg-clip-text text-transparent font-bold;
  }

  /** Snippets **/
  .bh-banner {
    background-image: url("black-hole-m87.png");
    background-color: black;
  }
  .bh-banner__box {
    @apply text-center md:text-left;
  }

  .bh-banner__content__item {
    @apply mt-3 md:mt-5 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto lg:mx-0;
  }

  /** Other **/
  .bh-hide {
    @apply hidden;
  }

  /** Banner **/
}

@layer utilities {
  .bh-main {
    display: block;
    min-height: 550px;
    /* min-height: 60vh; */
  }

  .bh-footer--sticky {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 1.5rem;
    z-index: 999;
  }

  .bh-menu--header, .bh-menu--footer, h2, h3, h4,
  .bh-header-drawer__links a {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .button {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .text-green-500 {
    color: blue;
  }
 }